<%- include("header") -%>
<div class="banner">
    <div class="banner-item">
        <h1>Solent Research</h1>
        <p>Get to see researchers present their latest work</p>
        <button onclick="window.location='/api/speakers'" class="view-speakers">View Speakers</button>
       <div class="detail">
        <p class="banner-detail"> Solent Technology confrence is a fictitious research conference that
            invites speakers to present their latest research. Feel free to browse around and find out the upcoming line up for the speakers.</p>

       </div>
      
    </div>
  
    <!-- <div class="banner-item detail">
        <p class="banner-detail"> Solent Technology confrence is a fictitious research conference that
            invites speakers to present their latest research. Feel free to browse around and find out the upcoming line up for the speakers.</p>

    </div -->>

</div>


<%- include("footer") -%>

